#main-form
  = form_for Rating.fresh do |f|
    .whole-field
      %span.label= f.label :last_completed_week
      %span.field= f.select :week, (0..17)
    
    .whole-field
      %span.label= f.label :iterations
      %span.field= f.text_field :iterations, :size => 4
    %br
    
    = f.label :ratings
    %br
    = f.text_area :raw_str, :rows => 32, :cols => 20
    %br
    = f.submit "Add Ratings"
  
%br
%br

%table
  %tr
    %th Week
    %th Status
    %th Get Page
    %th Created
    %th Delete
  - Rating.all.each do |r|
    %tr
      %td= r.week
      %td= r.status
      %td
        - if r.output_page.present?
          = link_to 'Get Page', r
      %td= r.created_at
      %td= link_to 'Delete', r, :method => :delete